//variables, reset styles, mixins, fonts
$color-dark: #262626;
$color-black: #000;
$color-primary: #d3ab55;
$color-secondary: #bbb;

$font-dancingScript: 'Dancing Scrtipt', cursive;
$font-josefinSans: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$font-sahel: Sahel, Tahoma;
$font-nastaliq: Nastaliq, Tahoma;

@font-face {
  font-family: Sahel;
  src: url("../fonts/Sahel.eot");
  src: url("../fonts/Sahel.ttf") format("ttf"), url("../fonts/Sahel.woff") format("woff");
}

@font-face {
  font-family: Nastaliq;
  src: url("../fonts/IranNastaliq.ttf");
  font-weight: normal;
}
@mixin flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textStyle {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin centering($topValue) {
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2d2d2d;
}