@import "base";

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.6)), url("../images/bg.jpeg") center no-repeat;
  background-size: cover;

  .brand {
    color: white;
    display: flex;
    align-items: center;
    @include centering(15%);
  }

  &-banner {
    color: white;
    text-align: center;
    @include centering(50%);
  }
}

.about-us {
  height: 90vh;
  display: flex;
  align-items: center;

  &-left {
    width: 40%;

    img {
      width: 100%;
      opacity: 0.6;
    }
  }

  &-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;

    .main-heading {
      font-size: 60px;
      margin-bottom: 20px;
    }

    .sub-heading {
      font-size: 40px;
      margin-bottom: 20px;
    }

    .stars {
      margin: 30px 0;
    }

    .star {
      font-size: 15px;
      color: $color-primary;
      margin-left: 10px;
    }

    .description {
      font-family: $font-nastaliq;
      font-size: 25px;
      color: $color-secondary;
      direction: rtl;
      text-align: justify;

      &:first-letter {
        padding-right: 30px;
      }
    }
  }
}

.gallery {
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer {
  padding: 70px 0;
  @include flexLayout();
  flex-direction: column;

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
  }

  .social-media {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 70px;

    &-item {
      list-style-type: none;
    }

    &-link {
      text-decoration: none;
      font-size: 50px;
      color: $color-secondary;
      transition: color 0.8s  ;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &-copyright-paragraph {
    font-family: $font-sahel;
    color: $color-secondary;
    direction: rtl;
    font-size: 20px;
  }


}